<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>
<p>Paragraph</p>
<code>Code</code>
<div
  class="flex items-center justify-center w-40 h-10 bg-primary border border-secondary"
>
  primary
</div>
<div
  class="flex items-center justify-center w-40 h-10 bg-secondary border border-primary text-primary"
>
  secondary
</div>
<div
  class="flex items-center justify-center w-40 h-10 bg-tertiary border border-secondary"
>
  tertiary
</div>
<div
  class="flex items-center justify-center w-40 h-10 bg-quaternary border border-secondary"
>
  quaternary
</div>
<div
  class="flex items-center justify-center w-40 h-10 bg-quinary border border-secondary"
>
  quinary
</div>
<div
  class="flex items-center justify-center w-40 h-10 bg-senary border border-secondary"
>
  senary
</div>
<div
  class="flex items-center justify-center w-40 h-10 bg-danger border border-secondary"
>
  danger
</div>
<div
  class="flex items-center justify-center w-40 h-10 bg-alert border border-secondary"
>
  alert
</div>
<div
  class="flex items-center justify-center w-40 h-10 bg-success border border-secondary"
>
  success
</div>
<div
  class="flex items-center justify-center w-40 h-10 bg-info border border-secondary"
>
  info
</div>

<router-outlet />
